<?xml version="1.0"?>
<theme>
    <name>Meca</name>
    <title>Meca</title>
    <version>2025</version>
    <compatibility>3.0</compatibility>
    <author>GB</author>
    <license>Creative Commons by-sa</license>
    <license-url>http://creativecommons.org/licenses/by-sa/3.0/</license-url>
    <description>Meca.

iDevice icons by Google (https://fonts.google.com/icons), under the 2.0 version of the Apache License (https://www.apache.org/licenses/LICENSE-2.0.html).

Noto Sans Font, by Google, under the SIL Open Font License, Version 1.1.</description>
    <downloadable>1</downloadable>
</theme>